.ext-cc-language-selector__trigger {
	color: #0645AD;
	cursor: pointer;
}

.ext-cc-language-selector__trigger:after {
	margin-left: 4px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #0645AD;
	content: "";
	display: inline-block;
	vertical-align: middle;
}

.ext-cc-language-selector__clear {
	padding-left: 10px;
	font-weight: bold;
	cursor: pointer;
}

.ext-cc-language-selector {
	padding-right: 50px;
}
